<!DOCTYPE html>
<html>
    <head>
    </head> 
    <body> 
    <v-vertical-layout spacing="true" size-full="true"> 
        <v-css-layout _id="tools" style-name="main-buton-bar" :right=""> 
            <v-button _id="btnRefresh" description="Refresh" caption="Refresh"  style-name="small borderless" :right="" :expand="">Refresh</v-button>
            <v-button _id="btnAdd" description="Add" caption="Add" style-name="small borderless primary">Add</v-button>
        </v-css-layout>
    </v-vertical-layout> 
</body>
</html>