<!DOCTYPE html>
<html>
    <head>
    </head> 
    <body> 
    <v-horizontal-layout spacing="" style-name="card translated-value" width-full="true"> 
        <v-label size-auto="true" :middle="">Locale</v-label>
        <v-combo-box _id="localeComboBox" width-full="true" :middle="" :expand="1"></v-combo-box> 
        <v-label size-auto="true" :middle="">Value</v-label>
        <v-text-field _id="valueField" null-representation="" width-full="true" :middle="" :expand="1"></v-text-field>
        <v-button _id="btnDelete" style-name="icon-only link" :middle=""></v-button>
    </v-horizontal-layout>
</body>
</html>