<v-vertical-layout  size-full=""  spacing="" style-name="card padding8 comment" margin=""> 
    <v-horizontal-layout spacing=""  size-full="" >
        <v-vertical-layout width="50px" height="100%"> 
            <v-image _id="userImage" style-name="user-image"/> 
        </v-vertical-layout>
        <v-text-area _id="bodyField" input-prompt="Comment..." null-representation="" size-full="" :expand="" />
    </v-horizontal-layout>
    <v-button _id="btnSubmit" style-name="small primary" :right="">Post</v-button> 
</v-vertical-layout> 