<html>
    <head>
        <meta name="package-mapping" content="h:com.hybridbpm.ui.component.bpm" />
    </head> 
    <body> 
    <v-css-layout style-name="adaptive-task-panel-slot" >
        <v-vertical-layout _id="card" style-name="card" width-full="" >
            <h-task-form-header _id="taskFormHeader" />
            <v-horizontal-layout _id="bottomBar" width-full="" spacing="" style-name="button-bar">
                <v-button _id="btnOpen" style-name="link small" description="Open task" :right="" >Open</v-button> 
            </v-horizontal-layout>
        </v-vertical-layout>
    </v-css-layout>
</body>
</html>